<div class="footer-info">
  <footer>
      <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-2 d-flex justify-content-center">
              <img src="../../assets/img/olamundogifentrada.gif" alt="" width="250" height="auto">
            </div>
              <div class="col-md-2 item d-flex flex-column align-items-center">
                  <h3>Olá Mundo</h3>
                  <ul>
                    <li><a class="links" routerLink="/layout-feed">Menu Inicial</a></li>
                    <li><a class="links" routerLink="/quemsomos">Quem Somos</a></li>
                      <li><a class="links" routerLink="/explorar">Explorar</a></li>
                  </ul>
              </div>
              <div class="col-md-2 item">
                  <h3>Objetivos</h3>
                  <ul>
                      <li>Turismo Sustentável</li>
                      <li>Divulgação de pequenos e médios comércios</li>
                      <li>Recomendações de Locais</li>
                  </ul>
              </div>

              <div class="col-md-6 item text">
                  <h3>Olá Mundo Projeto</h3>
                  <small class="text-secondary">O Projeto Olá Mundo é uma rede social informativa e colaborativa onde nosso intuito é dar maior visibilidade para o turismo sustentável
                     e incentivo ao turismo local, com lugares já em destaque mas com o apelo da colaboração dos usuários,
                     onde os mesmos poderiam colocar sugestões de lugares interessantes para conhecer em São Paulo,
                      divulgar pequenos comércios e serviços e avaliar os pontos turísticos propostos.</small>
              </div>
              <div class="col item social col-md-9"><a href="https://www.github.com/olamundoprojeto">
                <i class="fa fa-github"></i></a>
                <a href="mailto:olamundoprojeto@gmail.com">
                  <i class="fa fa-envelope"></i></a>
                  <p class="copyright">Projeto Olá Mundo © 2021 - Generation Brasil</p>
              </div>
          </div>
       </div>
  </footer>
</div>