<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
            @@@@@@@@@@@@@@@@@@       Postagem    @@@@@@@@@@@@@@@@@@
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<div class="container-borda">
<div class="row d-flex borda m-0">

    <!-- inicio do card perfil -->
    <div class="col-md-3 borda p-0">

      <div class="card mt-5">
        <div class="card-body d-flex flex-column align-items-center text-center mt-3">
          <img src="{{foto}}" alt="Admin" class="rounded-circle p-1 " width="110">
          <div class="mt-3">
            <h4> {{nome}}</h4>
            <p class="text-secondary mb-1">@{{usuario}}</p>
            <p class="text-muted font-size-sm">De: {{local}}</p>
            <a [routerLink]="['/usuario-edit', id]" class="btn btn-success mb-1">Editar Perfil</a>
            <button class="btn btn-info ml-3 mr-3 mb-1" data-toggle="modal" data-target="#novaPostagem">Sugira um lugar
              incrível</button>
          </div>
          <div class="row mt-2">
            <div class="col-md-12 d-flex justify-content-center mt-3">
              <div class="input-busca position-relative mb-3">
                <input type="text" class="form-control " name="pesquisar" placeholder="Pesquise uma postagem"
                  [(ngModel)]='tituloPost' (keyup)='findByTituloPostagem()' [(ngModel)]='tituloPost'
                  (keyup)='findByTituloPostagem()'>
              </div>
            </div>
          </div>
          <div class="shortcut-links">
            <p>Noticias de SP</p>
            <a href="https://www.google.com/search?client=opera&q=eventos+em+sp&sourceid=opera&ie=UTF-8&oe=UTF-8&ibp=htl;events&rciv=evn&sxsrf=ALeKk033QwOiMGF6_nflwIoGlNdVocL6XA:1629738916813#htivrt=events&htidocid=L2F1dGhvcml0eS9ob3Jpem9uL2NsdXN0ZXJlZF9ldmVudC8yMDIxLTA0LTMwfF8xMDE1MTYxNDYyOTU5ODg3MDkwNQ%3D%3D&fpstate=tldetail">
              <img src="../../assets/icons/shortcut-1.png">
              Agenda & Noticias
            </a>
            <a href="#">
              <img src="../../assets/icons/shortcut-2.png">
              Eventos
            </a>
            <a href="#">
              <img src="../../assets/icons/shortcut-3.png">
              Ministério do Turismo
            </a>
            <a href="https://www.gov.br/saude/pt-br/coronavirus/como-se-proteger">
              <img src="../../assets/icons/shortcut-4.png">
              Alerta COVID-19
            </a>
          </div>
          
        </div>
      </div>


    </div>
    <!-- Fim do card perfil -->

    <!-- inicio do feed -->

    <div class="col-md-6 flex-column borda mt-5"
      >


      <div class="post-row perfil-post mb-3 pt-2 pb-2 borda" *ngFor='let item of listaPostagem | orderBy: key: reverse'>
        <div class="user-profile">
          <div class="userpostagem d-flex ml-2">
            <img src="{{item.usuario.foto}}">
            <div class="columns">

              <p class="p-0 m-0"> <i>{{item.usuario.nome}}</i></p>
              <p class="text-muted p-0 m-0">Reside em: {{item.usuario.local}}</p>
              <p class="text-muted p-0 m-0">Publicado dia: <i>{{item.data | date: 'dd/MM/yyyy'}} às {{item.data | date: 'HH:mm'}} </i></p>
            </div>
            
          </div>
            
            <div class="feed-icon px-2 social-action dropdown pull-right"
              *ngIf=' item.usuario.id == id'>
           
            
            </div>
         
          <div>
            <p class="ml-2"><b>Temática:</b> {{item.tema.temaPostagem}}</p>
            <p class="ml-2"><b>Local:</b> {{item.titulo}}</p>
            <p class="ml-2"><b>Localizado em:</b> {{item.agenda}}</p>

            <p class="ml-2"><b>Tipo de ambiente:</b> {{item.tema.ambientacao}}</p>
          </div>
        </div>
        <p class="ml-2"><b>Sobre o lugar:</b> {{item.texto}}</p>
        <img src="{{item.fotoPostagem}}" class="post-img" height="460">
        <div class="post-row">
          <div class="activity-icons text-center">
            <button class="btn" (click)='getPostagemById(item.id)' (click)='descurtida(item.id)'>
            <img src="../../assets/icons/dislike.png">
            </button>
            <b></b> {{ item.curtidas }}
            <button class="btn" (click)='getPostagemById(item.id)' (click)='curtida(item.id)'>
              <img src="../../assets/icons/like (2).png">
            </button>
          </div>
        </div>



        <a [routerLink]="['/postagem-edit', item.id]" class="text-info mr-3 ml-2" href="">Editar</a> 
        <a [routerLink]="['/postagem-delete', item.id]" class="text-danger" href="">Apagar</a> 

      </div>
    </div>
    <!-- final do feed -->


    <!-- menu direita -->
    <div class="col-md-3 mt-5 d-md-block right-sidebar borda menu-direito" >

      <div class="sidebar-title mt-3">
        <h4>Lugares perto de você</h4>
        <a href="#">Veja Tudo</a>
      </div>
      <div class="event">
        <div class="left-event">
          <h3>SP</h3>
          <span></span>
        </div>
        <div class="right-event">
          <h4>Praia Grande</h4>
          <p>
            <i class="fa fa-map-marker"></i>
            Baixada Santista
          </p>
          <a href="https://www.praiagrande.sp.gov.br/HomePortal-.asp?cd_pagina=71">Mais informações</a>
        </div>
      </div>
      <div class="event">
        <div class="left-event">
          <h3>SP</h3>
          <span></span>
        </div>
        <div class="right-event">
          <h4>Bar do Vodka</h4>
          <p>
            <i class="fa fa-map-marker"></i>
            Perto daqui po
          </p>
          <a href="https://github.com/fernandocaruso">Mais informações</a>
        </div>
      </div>

      <div class="sidebar-title">
        <h4>Explorar</h4>
        <a routerLink="/explorar">Mais Informações</a>
      </div>
      <img src="https://www.melhoresdestinos.com.br/wp-content/uploads/2020/10/feriado-prolongado-2021-dicas.jpg"
        class="explorar">

      <div class="sidebar-title">
        <h4>Usuarios recorrentes</h4>
        <a href="#">Entre em contato</a>
      </div>
      <div class="usuarios">
        <div class="online">
          <img src="https://fhox.com.br/wp-content/uploads/2019/02/ia_fotos_0004_screenshot_19-150x150.jpg">
        </div>
        <p>Pedro Oliveira</p>
      </div>
      <div class="usuarios">
        <div class="online">
          <img src="https://www.colegiocognos.com.br/wp-content/uploads/2020/08/essa-pessoa-nao-existe.jpeg">
        </div>
        <p>Rita da Silva</p>
      </div>

      <div class="usuarios">
        <div class="online">
          <img
            src="https://i2.wp.com/www.desvirtual.com/web_nova/wp-content/uploads/2021/03/fig_02_person-1.jpg?fit=1024%2C1024">
        </div>
        <p>Simone dos Santos</p>
      </div>
      <div class="usuarios">
        <div class="online">
          <img src="https://ichi.pro/assets/images/max/724/1*fNLMb7DHUQfn18w8YvyLQA.png">
        </div>
        <p>Raquel Santos Alberto</p>
      </div>
    </div>
  </div>

</div>



<!-- @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@
     @@@@@@@@@@@@@@@@@@       INICIO MODAL POSTAGEM       @@@@@@@@@@@@@@@@@@
     @@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@ -->

<div class="modal fade modal-edit" id="novaPostagem" tabindex="-1" role="dialog"
  aria-labelledby="TituloModalCentralizado" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="TituloModalCentralizado">Nova Postagem</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="titulo">Título</label>
          <input class="form-control" [(ngModel)]='postagem.titulo' type="text" class="form-control" id="titulo"
            placeholder="Digite o título da nova postagem">
        </div>

        <div class="form-group">
          <label for="texto">Texto</label>
          <textarea class="form-control" [(ngModel)]='postagem.texto' class="form-control" name="texto" id="texto"
            placeholder="Descreva um pouco sobre o lugar" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="fotoPostagem">Foto do Lugar</label>
          <textarea class="form-control" [(ngModel)]='postagem.fotoPostagem' class="form-control" name="fotoPostagem"
            id="fotoPostagem" placeholder="Uma imagem vale mais que mil palavras!" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Localização</label>
          <textarea class="form-control" [(ngModel)]='postagem.agenda' class="form-control" name="endereco"
            id="endereco" placeholder="Digite o endereço do lugar" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Contato</label>
          <textarea class="form-control" [(ngModel)]='postagem.contato' class="form-control" name="contato" id="contato"
            placeholder="Digite um site ou telefone para contato do lugar" rows="3"></textarea>
        </div>

        <div class="form-group">
          <label for="texto">Escolha um tema ou <a data-dismiss="modal" routerLink='/tema'>cadastre um novo</a>:
          </label>
          <select class="form-control" name="tema" id="tema" class="form-control" [(ngModel)]='idTema'
            (change)='findByIdTema()'>
            <option *ngFor='let item of listaTemas' value="{{item.id}}">
              {{item.temaPostagem}}</option>
          </select>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
        <button type="button" class="btn btn-success" (click)='publicar()' data-dismiss="modal" >Publicar</button>
      </div>
    </div>
  </div>


</div> <!-- DIV FECHAMENTO MODAL! -->



<!-- DIV FECHAMENTO DA DIV PRINCIPAL INICIAL -->
