.bg-principal {
  background-color: #b3b6b1;
  font-family: 'poppins', sans-serif;
}



 /* body {
  /*background: #f7f7ff; */
  /*margin:50px; */

/* PERFIL */
.card {
  position: fixed;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid transparent;
  border-radius: .25rem;
  margin-bottom: 1.5rem;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);
  width: 450px;
}
.me-2 {
  margin-right: .5rem!important;
}
.user-profile img {
  width: 45px;
  border-radius: 50%;
  margin-right: 10px;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

/* POST */

.post-container {
  height: 60%;
  width: 47%;
  background: radial-gradient(#e8e8e8, #e1e3fc);
  border-radius: 20px;
  padding: 20px;
  color: #1d1d1d;
  margin: 20px 0;

}
.post-img{
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}
.post-text{
  color: #626262;
  margin:15px 0;
  font-size: 15px;
}
.post-text span{
  color:#626262;
  font-weight: 500;
}
.post-text a{
  color:#1876f2;
  text-decoration: none;
}
.post-profile-icon{
  display: flex;
  align-items: center;
}
.post-profile-icon img{
  width: 20px;
  border-radius: 50%;
  margin-right:5px;
}
.post-row a{
  color:#9a9a9a;
}

/* MENU DIREITO*/

.right-sidebar{
  right: 0;
  flex-basis: 25%;
  position: fixed;
  top: 30px;
  align-self: flex-start;
  background: #fff;
  padding:20px;
  border-radius: 4px;
  color:#626262;
  box-shadow: 0 2px 6px 0 rgb(218 218 253 / 65%), 0 2px 6px 0 rgb(206 206 238 / 54%);

}
.sidebar-title{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
}
.right-sidebar h4{
  font-weight: 600;
  font-size: 16px;
}
.sidebar-title a{
  text-decoration: none;
  color: #5e64ac;
  font-size: 12px;
}
.event{
  display: flex;
  font-size: 14px;
  margin-bottom: 20px;
}
.left-event {
  border-radius: 10px;
  height: 65px;
  width: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  line-height: 1.5;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgb(0 0 0 / 10%);
}

.right-event{
  line-height: 1.5;
}
.event p{
  font-size:12px;
}
.event a{
  font-size: 12px;
  text-decoration: none;
  color: #7f88e8;
}
.explorar {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}
.usuarios .online img {
  width: 40px;
  border-radius: 50%;
}
/* .img-perfil{
border-radius: 80px !important;
width: 180px !important;
}
.btn-personalizado{
background-color: #008080 !important;
color:#ffffff !important  ;
font-weight: bold !important;
width: 70px !important;
}
.btn-personalizado2{
background-color: #008080 !important;
color:#ffffff !important  ;
font-weight: bold !important;
width: 200px !important;
align-items: center !important;
}
.text-menu-feed{
color: #ffffff !important;
}
.text-menu-feed:hover{
color: #008080 !important;
opacity: 0.7 !important;
} */
