<nav>
  <div class="nav-left">
    <a routerLink="/layout-feed">
   <img class="logo" src="../../assets/img/gif-nav-esquerda.gif" alt="Logo animado Ola Mundo" title="Logo Ola Mundo">
    </a>
  </div>

  <div class="nav-right">
    <ul>
      <li>
        <a routerLink="/layout-feed">
          <img src="../../assets/icons/icons8-navegador-de-internet-64 (1).png" alt="Feed Inicial" title="Feed Inicial"/>
        </a>
      </li>

      <li>
        <a routerLink="/quemsomos">
          <img src="../../assets/icons/icons8-grupos-de-usuários-64.png" alt="Quem Somos" title="Quem Somos"/>
        </a>
      </li>

      <li>
        <a routerLink="/explorar">
          <img src="../../assets/icons/icons8-pesquisar-128.png" alt="Explorar" title="Explorar"/>
        </a>
      </li>
    </ul>

      <li>
        <a (click)='sair()' class="btn" >Sair <i class="fa fa-sign-out"></i></a>
      </li>

  </div>
</nav>
