<nav class="navbar navbar-expand-lg navbar-danger bg-menu" id="menu"></nav>
  <div class="wrapper">


    <nav class="desktop-nav">
      <div class="logo">
        <a routerLink="/quemsomos">
          <img src="https://cdn.discordapp.com/attachments/759998368029081612/877732770581999666/world-turning_animation_GIF-4.gif" alt=""  width="100px" height="75px" />
        </a>
      </div>



      <ul class="menu-items">
        <li>
          <a  routerLink="/quemsomos" class="active">Sobre Nós</a>
        </li>

        <li>
          <a href="#postagens">Muses</a>
        </li>

        <li>
          <a href="#postagens">Parques</a>
        </li>

        <li>
          <a href="#postagens">Restaurantes</a>
        </li>

        <li>
          <a (click)='sair()' class="btn" >Sair <i class="fa fa-sign-out"></i></a>
        </li>
      </ul>
    </nav>
    </div>

