<nav class="navbar navbar-expand-lg navbar-danger bg-menu" id="menu"></nav>
  <div class="wrapper">


    <nav class="desktop-nav">
      <div class="logo">
        <a routerLink="/quemsomos">
          <img src="../../assets/img/logo_ola_mundo.png" alt=""  width="70px" height="100px" />
        </a>
      </div>



      <ul class="menu-items">
        <li>
          <a  routerLink="/quemsomos" class="active">Sobre Nós</a>
        </li>

        <li>
          <a href="#postagens">Museus</a>
        </li>

        <li>
          <a href="#postagens">Parques</a>
        </li>

        <li>
          <a href="#postagens">Restaurantes</a>
        </li>

        <li>
          <a (click)='sair()' class="btn" >Sair <i class="fa fa-sign-out"></i></a>
        </li>
      </ul>
    </nav>
    </div>


