nav{
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #282d32; 
	padding: 5px 5%;
	position: sticky;
	top: 0;
	z-index: 100;
}
.logo{
	width: 120px;
	margin-right: 45px;
}
.nav-left, .nav-right{
	display: flex;
	align-items: center;
}
.nav-right ul li{
	list-style: none;
	display: inline-block;
}
.nav-right ul li img{
	width: 28px;
	margin: 0 15px;
}

.nav-right{
align-items: center;

}
a.btn {
  background: #0d8595;
  color: #ffff;
  border-radius: 24px;
  padding: 14px 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background-color 400ms;
}

::marker {
	color: #282d32; 
}
dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0rem;
}