.coisa {

  height: 350px;
  padding-top: 650px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;


 }

 .onda1{
	position: fixed;
	bottom: 0;
	left: 0;
	height: 76%;
	z-index: -1;
}
h1 {
  font-family: 'Poppins', sans-serif;
    overflow: hidden;
  font-size: 28px;

 }
 .form-control{
   border-radius: 20px;
   padding: 10px;
   margin: 10px 0;
   width: 100%;
   border: 1px solid #999;
  outline: none;
 }
