

<div class="bg-principal ">

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/CARROSEL-odslogo.gif" class="d-block w-90" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/CARROSEL (2).gif" class="d-block w-90" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <!-- fim do carrosel -->

  <!-- inicio nav -->
  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active nav-cor" href="#equipe">EQUIPE</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active nav-cor" href="#cultura">CULTURA</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active nav-cor" href="#implementacoes">IMPLEMENTAÇÕES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active nav-cor" href="#tecnologias">TÉCNOLOGIAS</a>
    </li>
  </ul>
 <!-- fim nav -->

  <!-- QUEM SOMOS -->
  <div class="container d-flex justify-content-flex-start  ">
    <div class="row">
      <div class="col-md-6">

        <h3 class="h3-color mt-5 txt-align">QUEM SOMOS</h3>
        <p class="txt-align txt-edit"> São Paulo é a o maior centro financeiro do país, e dispõe de uma vasta quantia de equipamentos culturais e
          atividades de lazer. São 280 salas de cinema, 180 teatros, 110 museus e mais de 90 centros culturais, alguns
          atendendo a parcela de maior poder aquisitivo, outros contemplando mais o público popular, o que leva muitos
          a
          dizerem que "sempre há um programa para se fazer em São Paulo". A vida noturna da cidade também é referência
          e
          um de seus pontos altos. Isso sem falar nas compras, com mais de 45 shoppings e dezenas de ruas de comércio
          especializado. E na gastronomia, são mais de 12 mil restaurantes, com 52 tipos de cozinha, como por exemplo:
          comidas japonesas, indianas, típicas brasileiras, mexicana e afins.Tendo em vista esses dados, criamos essa
          rede social informativa e colaborativa onde nosso intuito é dar visibilidade para o turismo sustentável e
          incentivo ao turismo local, com lugares já em destaque mas com o apelo para a colaboraçãodos usuários, onde
          poderiam colocar sugestões de lugares interessantes para conhecer, divulgar pequenos comercios e serviços, e
          ainda avaliar os pontos turisticos propostos. O objetivo é a troca de experiencias. Vem
          conhecer a verdadeira São Paulo, e diga OLÁ MUNDO!!!
        </p>

      </div>

      <div class="d-flex align-items-center">
        <div class="col-md-6  ml-5">
          <iframe width="490" height="350" src="https://www.youtube.com/embed/A4EEb5gAe0o" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        </div>
      </div>

    </div>
  </div>

 <!-- inicio dos novos cards -->

<h3 class="text-center titulo-2 mt-5 p-4" id="equipe">EQUIPE DESENVOLVEDORA</h3>


<div class="container-2">

  <div class="card">
    <img src="../../assets/img/caruso.jpg" alt="Foto do desenvolvedor do site Fernando" class="card__image">
    <p class="card__name txt-edit">Fernando Caruso</p>
    <div class="grid-container">


    </div>
    <ul class="social-icons">

      <li><a href="https://www.linkedin.com/in/fernando-caruso-536715107/"><i class="fa fa-github"></i></a></li>
      <li><a href="https://github.com/fernandocaruso"><i class="fa fa-linkedin"></i></a></li>

    </ul>

  </div>
  <div class="card">
    <img src="../../assets/img/gabs.jpg" alt="Foto da desenvolvedora do site Gabriella" class="card__image">
    <p class="card__name txt-edit">Gabriella Lopes</p>
    <div class="grid-container">


    </div>
    <ul class="social-icons">

      <li><a href="https://www.linkedin.com/in/gabriella-lopes-170a73201/"><i class="fa fa-github"></i></a></li>
      <li><a href="https://github.com/GabriellaLopess"><i class="fa fa-linkedin"></i></a></li>

    </ul>

  </div>
  <div class="card">
    <img src="../../assets/img/pam.jfif" alt="Foto da desenvolvedora do site Pamella" class="card__image">
    <p class="card__name txt-edit">Pamella Santos</p>
    <div class="grid-container">


    </div>
    <ul class="social-icons">

      <li><a href="https://www.linkedin.com/in/pamella-oliveira-santos/"><i class="fa fa-github"></i></a></li>
      <li><a href="https://github.com/pamellaolys"><i class="fa fa-linkedin"></i></a></li>

    </ul>

  </div>
  <div class="card">
    <img src="../../assets/img/rafa.jfif" alt="Foto do desenvolvedor do site Rafael" class="card__image">
    <p class="card__name txt-edit"> Rafael de Almeida </p>
    <div class="grid-container">


    </div>
    <ul class="social-icons">

      <li><a href="https://www.linkedin.com/in/rafael-santos-de-almeida-8a65381b3/"><i class="fa fa-github"></i></a></li>
      <li><a href="https://github.com/Rafael702"><i class="fa fa-linkedin"></i></a></li>

    </ul>

  </div>
</div>

  <!-- fim dos novos cards -->


  <!-- FRASE -->

  <div class="d-flex justify-content-center  pt-5 bg-frase">
    <h2 class="pb-5">“O fim de uma viagem é apenas o começo de outra.”</h2>
    <p class="mt-5"> <b>José Saramago</b> </p>
  </div>
  <!-- FIM DA FRASE -->

  <!-- CULTURA -->
  <div class="d-flex justify-content-center mt-5">
    <div class="container bg-principal d-flex justify-content-flex-start  ">
      <div class="row">

        <h3 class="text-center h3-edit" id="cultura">NOSSA CULTURA</h3>

        <div class=" d-flex align-items-center">
          <h1 class="big">1</h1>
          <P class="txt-alinhar txt-edit"> <b class="tit-par">DIVERSIDADE & INCLUSÃO </b> - Temos por objetivo espalhar respeito para a pluralidade, as diferenças do ser
            humano é o que nos tornam únicos, por isso consideramos diverdidade como o primeiro item da nossa lista de
            culturas. Temos o objetivo de tornar o Olá Mundo algo para todes, independente da sua cor de pele, de renda,
            deficiências ou sexualidade.
            <div class="col-md-6  ml-5">
              <img src="../../assets/img/diversidade.png" height="500px"
                alt="ilustração de três jovens de nacionalidade diferentes se abraçando, representando a diversidade">

            </div>
        </div>

        <div class=" d-flex align-items-center mt-3">
          <h1 class="big1">2</h1>
          <p class="txt-edit"><b class="tit-par">COLABORAÇÃO</b> - É uma das nossas culturas pois a colaboração é essencial para desenvolvimento do Olá Mundo -
            São Paulo, precisamos de você usuário divulgando aquele parque incrível próximo da sua casa, precisamos de
            você dono de comércio nos contando sobre seu estabelecimento, e precisamos de todes avaliando os lugares
            visitados, para que a nossa rede social e a sua colaboração ganhem visibilidade.
            <div class="col-md-6  ml-5">
              <img src="../../assets/img/colaboração.png" height="500px"
                alt="ilustraçao de um grupo de três jovens de cores de pele diferentes tendo ideias e trabalhando em grupo numa pagina web">

            </div>
        </div>

        <div class=" d-flex align-items-center">
          <h1 class="big2">3</h1>
          <p class="txt-edit"><b  class="tit-par">INOVAÇÃO</b>- Temos por objetivo melhorar o Olá Mundo todo dia para proporcionar a melhor experiencia do
            nosso usuario, VOCÊ !!! E por isso temos várias implementações futuras para tornar nossa rede social algo ainda mais
            maravilhoso.
            <div class="col-md-6 ml-5">
              <img src="../../assets/img/inovação.png" height="500px"
                alt="ilustraçao de um computador de mesa, um notebook, celular e tablet, com páginas web flutuando a sua frente representando inovação na tecnologia">

            </div>
        </div>


      </div>
    </div>
  </div>
  <!-- FIM DA CULTURA -->

  <!-- IMPLEMENTAÇÕES FUTURAS -->
  <div>
    <h3 class=" d-flex justify-content-center h3-edit mt-5" id="implementacoes">IMPLEMENTAÇÕES FUTURAS</h3>
  </div>

  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/expandir mundo.png" alt="">
        <p class="align-bottom text-center txt-edit">Expandir o Olá Mundo para outros estados e países</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/acessibilidade.png" alt="">
        <p class="align-bottom text-center txt-edit">Tornar o Olá Mundo acessível para todes.</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/sustentabilidade.png" alt="">
        <p class="align-bottom text-center txt-edit">Criar um selo Olá Mundo de sustentabilidade para premiar lugares que promovam idéias sustentáveis</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/live.png" alt="">
        <p class="align-bottom text-center txt-edit">Implementar vídeos e lives no Olá Mundo</p>
      </div>


      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/comentario-positivo.png" alt="">
        <p class="align-bottom text-center txt-edit">Implementar comentários no Olá Mundo</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/dark-mode.png" alt="">
        <p class="align-bottom text-center txt-edit">Implementar o Dark-mode (modo escuro) no Olá Mundo</p>
      </div>


      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/mecanismo-de-busca.png" alt="">
        <p class="align-bottom text-center txt-edit">Implementar mecanismos de buscas mais eficientes no Olá Mundo</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/mobile.png" alt="">
        <p class="align-bottom text-center txt-edit">Criar a versão mobile do Olá Mundo</p>
      </div>

    </div>
  </div>
  <!-- FIM DAS IMPLEMENTAÇÕES FUTURAS -->

  <!-- TÉCNOLOGIAS UTILIZADAS  -->
  <div class="container d-flex mt-5 mb-5">
    <div>
      <h3 class=" d-flex justify-content-center mt-4 mb-4 text-center h3-edit" id="tecnologias">TÉCNOLOGIAS UTILIZADAS PARA DESENVOLVIMENTO DO
        OLÁ
        MUNDO</h3>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-logo-java-coffee-cup-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit">JAVA</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-logotipo-da-primavera-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit">SPRINGBOOT</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-postgreesql-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit">POSTGRESQL</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-html-5-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit">HTML</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-css3-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit">CSS</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-angularjs-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit">ANGULAR</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-bootstrap-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit">BOOTSTRAP</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-javascript-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit">JAVASCRIPT</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-typescript-96.png" alt="">
      <p class="align-bottom text-center txt-tec txt-edit ">TYPESCRIPT</p>
    </div>


  </div>
</div>

<p class="text-center">
  Buscando inspiração? Conheça nosso <a routerLink="/explorar">Explorar</a>
</p>

<div id="mostarda">
  <p class="text-center">
    Para retornar ao menu inicial, <a routerLink="/layout-feed">clique aqui!</a>
  </p>
</div>
