<div class="bg-principal ">

  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img/ods-olamundo-carrosel.gif" class="d-block w-90" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../../assets/img/NOSSOLOGO- CARROSEL.gif" class="d-block w-90" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>


  <!-- QUEM SOMOS -->
  <div class="container d-flex justify-content-flex-start  ">
    <div class="row">
      <div class="col-md-6">

        <h3 class="h3-color mt-5">QUEM SOMOS</h3>
        <P> São Paulo é a o maior centro financeiro do país, e dispõe de uma vasta quantia de equipamentos culturais e
          atividades de lazer. São 280 salas de cinema, 180 teatros, 110 museus e mais de 90 centros culturais, alguns
          atendendo a parcela de maior poder aquisitivo, outros contemplando mais o público popular, o que leva muitos
          a
          dizerem que "sempre há um programa para se fazer em São Paulo". A vida noturna da cidade também é referência
          e
          um de seus pontos altos. Isso sem falar nas compras, com mais de 45 shoppings e dezenas de ruas de comércio
          especializado. E na gastronomia, são mais de 12 mil restaurantes, com 52 tipos de cozinha, como por exemplo:
          comidas japonesas, indianas, típicas brasileiras, mexicana e afins.Tendo em vista esses dados, criamos essa
          rede social informativa e colaborativa onde nosso intuito é dar visibilidade para o turismo sustentável e
          incentivo ao turismo local, com lugares já em destaque mas com o apelo para a colaboraçãodos usuários, onde
          poderiam colocar sugestões de lugares interessantes para conhecer, divulgar pequenos comercios e serviços, e
          ainda avaliar os pontos turisticos propostos. O objetivo é a troca de experiencias. Vem
          conhecer a verdadeira São Paulo, e diga OLÁ MUNDO!!!
        </P>

      </div>

      <div class="d-flex align-items-center">
        <div class="col-md-6  ml-5">
          <iframe width="490" height="350" src="https://www.youtube.com/embed/A4EEb5gAe0o" title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>

        </div>
      </div>

    </div>
  </div>

 <!-- inicio dos novos cards -->

<!-- novos cards -->




  <!-- 2 -->

    <h3 class="d-flex justify-content-center mt-5">EQUIPE DESENVOLVEDORA</h3>

  <div class="container-1 ">
    <div class="card card0">
      <div class="border">
        <h2>Fernando Caruso</h2>
        <div class="icons">
          <a class="fa fa-linkedin" href="https://www.linkedin.com/in/fernando-caruso-536715107/" target="_blank"></a>
          <a class="fa fa-github" href="https://github.com/fernandocaruso" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="card card1">
      <div class="border">
        <h2>Gabriella Lopes</h2>
        <div class="icons">
          <a class="fa fa-linkedin" href="https://www.linkedin.com/in/gabriella-lopes-170a73201/" target="_blank"></a>
          <a class="fa fa-github" href="https://github.com/GabriellaLopess" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>


  <div class="container-1">
    <div class="card card2">
      <div class="border">
        <h2>Pamella Santos</h2>
        <div class="icons">
          <a class="fa fa-linkedin" href="https://www.linkedin.com/in/pamella-oliveira-santos/" target="_blank"></a>
          <a class="fa fa-github" href="https://github.com/pamellaolys" target="_blank"></a>
        </div>
      </div>
    </div>
    <div class="card card">
      <div class="border">
        <h2>Rafael Santos de Almeida</h2>
        <div class="icons">
          <a class="fa fa-linkedin" href="https://www.linkedin.com/in/rafael-santos-de-almeida-8a65381b3/" target="_blank"></a>
          <a class="fa fa-github" href="https://github.com/Rafael702" target="_blank"></a>
        </div>
      </div>
    </div>
  </div>


  <!-- fim dos novos cards -->


  <!-- FRASE -->

  <div class="d-flex justify-content-center mt-5 pt-5 bg-frase">
    <h2 class="pb-5">“O fim de uma viagem é apenas o começo de outra.”</h2>
    <p class="mt-5">José Saramago</p>
  </div>
  <!-- FIM DA FRASE -->

  <!-- CULTURA -->
  <div class="d-flex justify-content-center mt-5">
    <div class="container bg-principal d-flex justify-content-flex-start  ">
      <div class="row">

        <h3 class="text-center">NOSSA CULTURA</h3>

        <div class=" d-flex align-items-center">
          <h1 class="big">1</h1>
          <P>DIVERSIDADE & INCLUSÃO - Temos por objetivo espalhar respeito para a pluralidade, as diferenças do ser
            humano é o que nos tornam únicos, por isso consideramos diverdidade como o primeiro item da nossa lista de
            culturas. Temos o objetivo de tornar o Olá Mundo algo para todos, independente da sua cor de pele, de renda,
            deficiencias ou sexualidade.
            <div class="col-md-6  ml-5">
              <img src="../../assets/img/diversidade.png" height="500px"
                alt="logo do Olá mundo - um globo terrestre que é abraçado por 3 braços com tonalidades diferentes para representar a diversidade">

            </div>
        </div>

        <div class=" d-flex align-items-center mt-3">
          <h1 class="big">2</h1>
          <P>COLABORAÇÃO - É uma das nossas culturas pois a colaboração é essencial para desenvolvimento do Olá Mundo -
            São Paulo, precisamos de você usuário divulgando aquele parque incrivel proximo da sua casa, precisamos de
            você dono de comércio nos contando sobre seu estabelecimento, e precisamos de todos avaliando os lugares
            vizitados, para que a nossa rede social e a sua colaboração ganhem visibilidade.Por isso a colaboração não
            poderia ficar de fora.
            <div class="col-md-6  ml-5">
              <img src="../../assets/img/colaboração.png" height="500px"
                alt="logo do Olá mundo - um globo terrestre que é abraçado por 3 braços com tonalidades diferentes para representar a diversidade">

            </div>
        </div>

        <div class=" d-flex align-items-center">
          <h1 class="big">3</h1>
          <P> INOVAÇÃO - Temos por objetivo melhorar o Olá Mundo todo dia para proporcionar a melhor experiencia do
            nosso usuario, VOCÊ !!! E por isso temos varias implentaçoes futuras para tornar nossa rede social algo
            maravilhoso.
            <div class="col-md-6  ml-5">
              <img src="../../assets/img/inovação.png" height="500px"
                alt="logo do Olá mundo - um globo terrestre que é abraçado por 3 braços com tonalidades diferentes para representar a diversidade">

            </div>
        </div>


      </div>
    </div>
  </div>
  <!-- FIM DA CULTURA -->

  <!-- IMPLEMENTAÇÕES FUTURAS -->
  <div>
    <h3 class=" d-flex justify-content-center mt-5">IMPLEMENTAÇÕES FUTURAS</h3>
  </div>

  <div class="container">
    <div class="row d-flex">
      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/expandir mundo.png" alt="">
        <p class="align-bottom text-center">Expandir o Olá Mundo para outros estados e países</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/acessibilidade.png" alt="">
        <p class="align-bottom text-center">Tornar o Olá Mundo acessivel para todes.</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/sustentabilidade.png" alt="">
        <p class="align-bottom text-center">Criar um selo Olá Mundo de sustentabilidade para premiar lugares que provem
          que são
          realmente sustentaveis</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/live.png" alt="">
        <p class="align-bottom text-center">Implementar vídeos e lives no Olá Mundo</p>
      </div>


      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/comentario-positivo.png" alt="">
        <p class="align-bottom text-center">Implementar comentários no Olá Mundo</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/dark-mode.png" alt="">
        <p class="align-bottom text-center">Implementar o Dark-mode (modo escuro) no Olá Mundo</p>
      </div>


      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/mecanismo-de-busca.png" alt="">
        <p class="align-bottom text-center">Implementar mecanismos de buscas mais eficientes no Olá Mundo</p>
      </div>

      <div class="col-md-6 mt-4">
        <img class="img-implementacao mx-auto d-block img-fluid" src="../../assets/img/mobile.png" alt="">
        <p class="align-bottom text-center">Criar a versão mobile do Olá Mundo</p>
      </div>

    </div>
  </div>
  <!-- FIM DAS IMPLEMENTAÇÕES FUTURAS -->

  <!-- TÉCNOLOGIAS UTILIZADAS  -->
  <div class="container d-flex mt-5 mb-5">
    <div>
      <h3 class=" d-flex justify-content-center mt-4 mb-4 text-center">TÉCNOLOGIAS UTILIZADAS PARA DESENVOLVIMENTO DO
        OLÁ
        MUNDO</h3>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-logo-java-coffee-cup-96.png" alt="">
      <p class="align-bottom text-center txt-tec">JAVA</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-logotipo-da-primavera-96.png" alt="">
      <p class="align-bottom text-center txt-tec">SPRINGBOOT</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-postgreesql-96.png" alt="">
      <p class="align-bottom text-center txt-tec">POSTGRESQL</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-html-5-96.png" alt="">
      <p class="align-bottom text-center txt-tec">HTML</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-css3-96.png" alt="">
      <p class="align-bottom text-center txt-tec">CSS</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-angularjs-96.png" alt="">
      <p class="align-bottom text-center txt-tec">ANGULAR</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-bootstrap-96.png" alt="">
      <p class="align-bottom text-center txt-tec">BOOTSTRAP</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-javascript-96.png" alt="">
      <p class="align-bottom text-center txt-tec">JAVASCRIPT</p>
    </div>

    <div class="col-md-1 mt-5 ">
      <img class="img-tec mx-auto d-block img-fluid" src="../../assets/img/icons8-typescript-96.png" alt="">
      <p class="align-bottom text-center txt-tec ">TYPESCRIPT</p>
    </div>


  </div>
</div>


<hr class="mt-5 mb-">

<p class="text-center">
  Não possui uma conta no Olá Mundo? <a routerLink="/cadastrar">Cadastre-se</a>
</p>
<p class="text-center">
  Buscando inspiração? Conheça nosso <a routerLink="/explorar">Explorar</a>
</p>

<div id="mostarda">
  <p class="text-center">
    Para retornar ao menu inicial, <a routerLink="/layout-feed">clique aqui!</a>
  </p>
</div>
