.bg-principal {
  background-color: rgb(216, 216, 236);
}


.img {
  height: 200px;
  width: 400px;
  align-self: center;
}

.textsize {
  size: 16px;
}

.conteudos {
  display: flex;
  flex-flow: row;
  justify-content: center;
  /*alinhamento (esquerda,direito,centro)*/
  align-items: center;
  /*alinhamento dos itens (esquerda,direito,centro)*/
  background-color: rgb(128, 165, 170);
}

.colaborador {
  padding: 10px;
}

.img-colaboradores {
  size: 300px;
}

.negrito {
  text-decoration: dotted;
}

h3.h3-color {
  color: #008080 !important;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.h4-cor {
  color: rgb(223, 119, 0);
}

#mostarda {
  background-color: rgb(223, 119, 0);
  height: 25px;
}

.txt-logo:hover {
  color: red !important;
}

.txt-align{
  text-align: center;
}

h3.h3-edit{
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
}

.tit-par{
  font-family: 'Poppins', sans-serif;
}

.big {
  font-size: 18rem;
  color: #2f9d94;
}

.big1 {
  font-size: 18rem;
  color: #e78a00;
}

.big2 {
  font-size: 18rem;
  color: #5e64ac;
}

.img-implementacao {
  height: 150px;
  align-items: center;
}

.img-tec {
  height: 50px;
}

.txt-edit{
  font-family: 'Poppins', sans-serif;
}

.txt-tec {
  font-size: x-small;
  font-weight: bold;
}

.gif-ods {
  height: 300px;
}

.bg-frase {
  background-color: #e78a00;

}

.pb-5{
  color: #fff;
}

h3.titulo-2{
  background-color: #f5f5f5;
  margin: auto;
  font-weight: 500;
  font-family: 'Anton', sans-serif;
}

.nav-cor{
  color: #e78a00;
  font-weight: bold;
}

.nav{
  width: 100%;
  position: fixed0;
  background: black;
  top:0;
  z-index: 100;
  scroll-behavior: smooth;
}

/* teste card novo */

.container-2 {
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
  grid-gap: 50px;
  justify-content: center;
  align-items: center;
  height: 350px;
   background-color: #f5f5f5;
  /* background-image:url("https://images.unsplash.com/photo-1497506928652-500166625d53?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=364&q=80");
  background-size: cover; */

}

.card {
  background-color: #0b949400;
  height: 19rem;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* box-shadow: rgba(0, 0, 0, 0.7); */
  color: black;


}

.card__name {
  margin-top: 10px;
  font-size: 1.3em;
}

.card__image {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  margin: 10px;
  box-shadow: 0 10px 50px #2f9d94;
}



.social-icons {
  padding: 0;
  list-style: none;
  margin: 1px;
}

.social-icons li {
  display: inline-block;
  margin: 0.15em;
  position: relative;
  font-size: 1em;
}

.social-icons i {
  color: #fff;
  position: absolute;
  top: 0.95em;
  left: 0.96em;
  transition: all 265ms ease-out;
}

.social-icons a {
  display: inline-block;
}

.social-icons a:before {
  transform: scale(1);
  -ms-transform: scale(1);
  -webkit-transform: scale(1);
  content: " ";
  width: 45px;
  height: 45px;
  border-radius: 100%;
  display: block;
  background: linear-gradient(45deg, #2f9d94, #c648c8);
  transition: all 265ms ease-out;
}

.social-icons a:hover:before {
  transform: scale(0);
  transition: all 265ms ease-in;
}

.social-icons a:hover i {
  transform: scale(2.2);
  -ms-transform: scale(2.2);
  -webkit-transform: scale(2.2);
  color: #ff003c;
  background: -webkit-linear-gradient(45deg, #ff003c, #c648c8);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 265ms ease-in;
}




