.bg-principal {
  background-color: rgb(216, 216, 236);
}


.img {
  height: 200px;
  width: 400px;
  align-self: center;
}

.textsize {
  size: 16px;
}

.conteudos {
  display: flex;
  flex-flow: row;
  justify-content: center;
  /*alinhamento (esquerda,direito,centro)*/
  align-items: center;
  /*alinhamento dos itens (esquerda,direito,centro)*/
  background-color: rgb(128, 165, 170);
}

.colaborador {
  padding: 10px;
}

.img-colaboradores {
  size: 300px;
}

.negrito {
  text-decoration: dotted;
}

.h3-color {
  color: #008080 !important;
}

.h4-cor {
  color: rgb(223, 119, 0);
}

#mostarda {
  background-color: rgb(223, 119, 0);
  height: 25px;
}

.txt-logo:hover {
  color: red !important;
}


.big {
  font-size: 18rem;
}

.img-implementacao {
  height: 150px;
  align-items: center;
}

.img-tec {
  height: 50px;
}

.txt-tec {
  font-size: x-small;
  font-weight: bold;
}

.gif-ods {
  height: 300px;
}

.bg-frase {
  background-color: #e78a00;

}

.pb-5{
  color: #fff;
}



/*cards - equipe desenvolvedora */

.container-1 {
  width: 100vw;
  max-height: 800px;
  max-width: 100px;
  min-height: 100px;
  min-width: 1000px;
  display: flex;
  justify-content:center;
  align-items: center;
  margin: 30px;

}

.border {
  height: 369px;
  width: 290px;
  background: transparent;
  border-radius: 10px;
  transition: border 1s;
  position: relative;
}
.border:hover {
  border: 1px solid #fff;
}

.card {
  height: 379px;
  width: 300px;
  background: #808080;
  border-radius: 10px;
  transition: background 0.8s;
  overflow: hidden;
  background: #000;
  box-shadow: 0 70px 63px -60px #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card0 {
  background: url("https://i.imgur.com/2FDqbWO.jpg") center center no-repeat;
  background-size: 300px;
}

.card0:hover {
  background: url("https://i.imgur.com/2FDqbWO.jpg") left center no-repeat;
  background-size: 600px;
}
.card0:hover h2 {
  opacity: 1;
}
.card0:hover .fa {
  opacity: 1;
}

.card1 {
  background: url("https://i.imgur.com/vZsG4rp.jpg") center center no-repeat;
  background-size: 300px;
}
.card1:hover {
  background: url("https://i.imgur.com/vZsG4rp.jpg") left center no-repeat;
  background-size: 600px;
}
.card1:hover h2 {
  opacity: 1;
}
.card1:hover .fa {
  opacity: 1;
}


.card2 {
  background: url("https://i.imgur.com/vZsG4rp.jpg") center center no-repeat;
  background-size: 300px;
}
.card2:hover {
  background: url("https://i.imgur.com/vZsG4rp.jpg") left center no-repeat;
  background-size: 600px;
}
.card2:hover h2 {
  opacity: 1;
}
.card2:hover .fa {
  opacity: 1;
}

.card3 {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850843e68cfcf6e3943c048f45c6d1.jpg") center center no-repeat;
  background-size: 300px;
}
.card3:hover {
  background: url("https://i.pinimg.com/originals/ee/85/08/ee850843e68cfcf6e3943c048f45c6d1.jpg") left center no-repeat;
  background-size: 600px;
}
.card3:hover h2 {
  opacity: 1;
}
.card3:hover .fa {
  opacity: 1;
}


h2 {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #ef8a00;
  margin: 20px;
  opacity: 50;
  transition: opacity 1s;
  font-size: x-large;

}
.fa {
  opacity: 50;
  transition: opacity 1s;
}

.icons {
  position: absolute;
  fill: #fff;
  color: #fff;
  height: 50px;
  top: 300px;
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

/*final cards - equipe desenvolvedora */
