<div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="../../assets/img-entrar-cadastrar/bg3.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
</div>

<body>

  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="../../assets/img-entrar-cadastrar/21.jpg" alt="">
      </div>
      <div class="content">
        <h2><b>São Paulo noturna!</b></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="../../assets/img-entrar-cadastrar/13.jpg" alt="">
      </div>
      <div class="content">
        <h2><b>Galeria do Rock</b></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="../../assets/img-entrar-cadastrar/32.jpg" alt="">
      </div>
      <div class="content">
        <h2><b>Graffiti em São Paulo</b></h2>
      </div>
    </div>
  </div>

  </body>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img-entrar-cadastrar/gifsp2.gif" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>


  <body>

  <div class="container">
    <div class="card">
      <div class="imgBx">
        <img src="../../assets/img-entrar-cadastrar/01.jpg" alt="">
      </div>
      <div class="content">
        <h2><b>Avenida Paulista à noite!</b></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="../../assets/img-entrar-cadastrar/38.jpg" alt="">
      </div>
      <div class="content">
        <h2><b>São Paulo noturna!</b></h2>
      </div>
    </div>

    <div class="card">
      <div class="imgBx">
        <img src="../../assets/img-entrar-cadastrar/04.jpg" alt="">
      </div>

      <div class="content">
        <h2><b>Hora do Rush!</b></h2>
      </div>
    </div>
  </div>

  </body>

  <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/img-entrar-cadastrar/vista aerea.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
  </div>

  <body>

    <div class="container">
      <div class="card">
        <div class="imgBx">
          <img src="../../assets/img-entrar-cadastrar/19.jpg" alt="">
        </div>
        <div class="content">
          <h2><b>Sala São Paulo</b></h2>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="../../assets/img-entrar-cadastrar/15.jpg" alt="">
        </div>
        <div class="content">
          <h2><b>Leitor politizado!</b></h2>
        </div>
      </div>

      <div class="card">
        <div class="imgBx">
          <img src="../../assets/img-entrar-cadastrar/17.jpg" alt="">
        </div>
        <div class="content">
          <h2><b>Ponte Octávio Frias de Oliveira!</b></h2>
        </div>
      </div>
    </div>

    </body>

    <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="../../assets/img-entrar-cadastrar/gifsp3.gif" class="d-block w-100" alt="...">
        </div>
      </div>
    </div>

    <body>

      <div class="container">
        <div class="card">
          <div class="imgBx">
            <img src="../../assets/img-entrar-cadastrar/25.jpg" alt="">
          </div>
          <div class="content">
            <h2><b>Graffiti Einstein - por Kobra</b></h2>
          </div>
        </div>

        <div class="card">
          <div class="imgBx">
            <img src="../../assets/img-entrar-cadastrar/12.jpg" alt="">
          </div>
          <div class="content">
            <h2><b>Farol Santander!</b></h2>
          </div>
        </div>

        <div class="card">
          <div class="imgBx">
            <img src="../../assets/img-entrar-cadastrar/16.jpg" alt="">
          </div>
          <div class="content">
            <h2><b>Museu do Ipiranga!</b></h2>
          </div>
        </div>
      </div>

      </body>

      <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/img-entrar-cadastrar/foto_panoramica.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
      </div>

      <body>

        <div class="container">
          <div class="card">
            <div class="imgBx">
              <img src="../../assets/img-entrar-cadastrar/22.jpg" alt="">
            </div>
            <div class="content">
              <h2><b>Torre Cásper Líbero!</b></h2>
            </div>
          </div>

          <div class="card">
            <div class="imgBx">
              <img src="../../assets/img-entrar-cadastrar/08.jpg" alt="">
            </div>
            <div class="content">
              <h2><b>Edifício Copan!</b></h2>
            </div>
          </div>

          <div class="card">
            <div class="imgBx">
              <img src="../../assets/img-entrar-cadastrar/10.jpg" alt="">
            </div>
            <div class="content">
              <h2><b>Estação Luz!</b></h2>
            </div>
          </div>
        </div>

        </body>

        <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="../../assets/img-entrar-cadastrar/Gifs animados Cidade de São Paulo 5.gif" class="d-block w-100" alt="...">
            </div>
          </div>
        </div>

        <body>

          <div class="container">
            <div class="card">
              <div class="imgBx">
                <img src="../../assets/img-entrar-cadastrar/34.jpeg" alt="">
              </div>
              <div class="content">
                <h2><b>Graffiti São Paulo - O Capitalismo!</b></h2>
              </div>
            </div>

            <div class="card">
              <div class="imgBx">
                <img src="../../assets/img-entrar-cadastrar/06.jpg" alt="">
              </div>
              <div class="content">
                <h2><b>Consolação!</b></h2>
              </div>
            </div>
            <div class="card">
              <div class="imgBx">
                <img src="../../assets/img-entrar-cadastrar/27.jpg" alt="">
              </div>
              <div class="content">
                <h2><b>Graffiti - Ali e Pelé</b></h2>
              </div>
            </div>
          </div>

          </body>

          <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="../../assets/img-entrar-cadastrar/Vista_Panorâmica_de_São_Paulo_Noite.jpg" class="d-block w-100" alt="...">
              </div>
            </div>
          </div>

          <body>

            <div class="container">
              <div class="card">
                <div class="imgBx">
                  <img src="../../assets/img-entrar-cadastrar/26.jpeg" alt="">
                </div>
                <div class="content">
                  <h2><b>Graffiti - Menina na Roosevelt!</b></h2>
                </div>
              </div>

              <div class="card">
                <div class="imgBx">
                  <img src="../../assets/img-entrar-cadastrar/06.jpg" alt="">
                </div>
                <div class="content">
                  <h2><b>Consolação!</b></h2>
                </div>
              </div>

              <div class="card">
                <div class="imgBx">
                  <img src="../../assets/img-entrar-cadastrar/Daniel-Melim.-credito-divulgaçãoJPG-scaled-1980x1485 35.jpg" alt="">
                </div>
                <div class="content">
                  <h2><b>Urbano - por Daniel Melim</b></h2>
                </div>
              </div>
            </div>

            </body>

            <div id="carouselExampleSlidesOnly" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="../../assets/img-entrar-cadastrar/SAOMOHH_gallery_estaiadabridge.jpg" class="d-block w-100" alt="...">
                </div>
              </div>
            </div>


          <body>

            <div class="container">
              <div class="card">
                <div class="imgBx">
                  <img src="../../assets/img-entrar-cadastrar/Hanna-Lucatelli-.-cred-divulgacao 30.jpeg" alt="">
                </div>
                <div class="content">
                  <h2><b>Amai-vos - por Hanna Lucatelli</b></h2>
                </div>
              </div>
              <div class="card">
                <div class="imgBx">
                  <img src="../../assets/img-entrar-cadastrar/28.jpg" alt="">
                </div>
                <div class="content">
                  <h2><b>Marielle presente!</b></h2>
                </div>
              </div>

              <div class="card">
                <div class="imgBx">
                  <img src="../../assets/img-entrar-cadastrar/24.jpg" alt="">
                </div>
                <div class="content">
                  <h2><b>Niemayer - por Kobra</b></h2>
                </div>
              </div>
            </div>

            </body>


  <div class="container-fluid mt-3" id="rodape">
    <footer>
      <nav>

        <ul class=" text-white edit-link">
          <h4 id="h2">Navegue no site</h4>
          <li><a class="links" routerLink="/layout-feed">Home</a></li>
          <li><a class="links" routerLink="/quemsomos">Quem Somos</a></li>
          <li><a class="links" routerLink="/perfil">Meu Perfil</a></li>
          <li><a class="links" routerLink="/cadastrar">Cadastre-se</a></li>
        </ul>
      </nav>

      <div class="row">
        <div class="col-md-12">
        <p class="text-center bg-dark text-white" > Copyright © 2021 </p>
      </div>
    </div>

    </footer>
  </div>



